/*Generals*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}


/*Utilities*/


ul li {
    list-style-type: none;
}


img {
    max-width: 100%;
}


/*----Container----*/


.container {
    max-width: 1100px;
    margin: 0 auto;
}




/*-----   MAIN   -----*/


main {
    background-color: red;
    overflow: auto;
    height: calc(100vh - 90px);
    display: flex;
}

/*---Sidebar---*/

.sidebar-left {
    background-color: rgb(231, 178, 178);
    height: 800px;
    width: 2800px;
}

/*---Center Main */

.center-main {

}


.header-cont {
  height: 70px;
  width: 100%;
  background: rgb(85, 248, 52);
}


.center-cont {
    width: 100%;
}



/*-----   FOOTER  -----*/

#footer-app {
    height: 90px;
    background-color: #a99b9b;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;;
}