/*Generals*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}


/*Utilities*/


ul li {
    list-style-type: none;
}


img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color: white;
}


/*----Container----*/


.container {
    max-width: 1100px;
    margin: 0 auto;
}



/*-----      -----*/


.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.up-content {
    flex: 1 1 auto;
    background-color: grey;
    overflow: hidden;
    display: flex;
}

/*----- Sidebar -----*/

.sidebar {
    background-color: black;
    flex: 0 0 250px;
    padding-bottom: 16px;
}

.calc-sidebar {
    height: calc(100% - 80px);
    overflow-y: hidden;
}


.sidebar ul {
    overflow-y: auto ;
}

/*-----Sidebar Content -----*/


.sidebar .logo {
    height: 70px;
    padding: 11px;
    margin-top: 10px;
}


.sidebar .small-logo img {
    height: 50px;
    display: none;
}




.sidebar a {
    color: white;
}




.header-list span {
    color: white;
    font-size: 26px;
    vertical-align: middle;
}




.header-list {
    padding-left: 18px;
}




.header-list ul li {
    padding-top: 8px;
}


.header-list .task-search {
    padding-right: 3px;
}



.header-list .task-book {
    padding-right: 7px;
}



.header-list .txt-10 {
    font-size: 15px;
}




.grey-plus-btn {
    background: #c9c9c9;
    height: 35px;
    display: inline-block;
    width: 41px;
    text-align: center;
    margin-right: 7px;
}



.grey-plus-btn i {
    padding-top: 9px;
    color: black;
}






.center-list {
    padding-top: 22px;
    padding-left: 16px;
}




.center-list h3 {
    margin-bottom: 15px;
}




.bottom-list {
    line-height: 40px;
    padding-left: 15px;
    margin-top: 17px;
    overflow: hidden;
}





.bottom-2-list {
    padding-left: 11px;
    height: 80px;
}



.bottom-2-list .bott-sp {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 3px;
} 

.bottom-2-list .btn-list {
    color: lightgrey;
}



.bottom-2-list hr {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 90%;
    border: 1px solid grey;
}



.bottom-2-list .bott-sp-down {
    color: white;
    font-size: 21px;
    vertical-align: ;
    background: grey;
    border-radius: 43%;
    display: inline-block;
    width: 15%;
    height: 28px;
    text-align: center;
    margin-right: 6px;
} 






/*-----Main-----*/

main {
    background-color: #24282c;
    flex: 1 1 auto;
    overflow: auto;
}   


/*----- Main ----> HEADER -----*/

header {
    background-color: rgb(4 4 4 / 30%);
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    /* width: 17%; */
    /* height: 56px; */
    border-radius: 30px;
    padding: 15px 60px;
    color: white;
    /* flex-basis: 24%; */
    line-height: 20px;
    margin: 5px
}



/*----- Main ----> CENTER MAIN -----*/

.navbar-main {
    text-align: center;
}


.navbar-main ul li {
    display: inline-block;
    padding: 0 18px;
    font-size: 14px;
}

.navbar-main a {
    color: white;
}

/*--- Main --> SECTION CONTENT MUSIC -----*/

.main-content h1 {
    color: white;
    padding-bottom: 15px;
    margin-left: 28px;
}



.gallery a {
    color: white;
}

.gallery img {
    height: 220px;
}


.gallery {
    display: flex;
    max-width: 100%;
    text-align: center;
    margin-left: 16px;
}



.main-content .gallery li {
    flex-basis: calc(90% / 6);
}


.gallery h4 {
    color: white;
    font-size: 22px;
    margin-bottom: 8px;
}

.gallery .subtitle {
    color: white;
}


/*--- Main --> SECOND CONTENT -----*/


.second-content h1 {
    color: white;
    margin-top: 40px;
    margin-bottom: 9px;
    margin-left: 28px;
}



.second-content p {
    color: lightgrey;
    margin-bottom: 14px;
    margin-left: 28px;
}



.second-gallery {
    display: flex;
    max-width: 100%;
    text-align: center;
}

.second-gallery a {
    color: white;
}

.second-gallery img {
    height: 220px;
}


.second-gallery li {
    padding-left: 27px;
}


.bord-rad img {
    border-radius: 64%;
}


.bord-rad {
    margin-bottom: 40px;
}


/*-----   FOOTER  -----*/

footer {
    background-color: rgb(53, 50, 50);
    color: white;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*--LEFT CONTENT FOOTER */


.left-content {
    padding-left: 20px;
}


.left-content img {
    height: 52px;
    vertical-align: middle;
}



.name-artist {
    display: inline-block;
    vertical-align: middle;
    padding-right: 54px;
    padding-left: 13px;
}


.name-artist a h4 {
    font-size: 15px;
 }

.name-artist a p {
    margin-left: -1px;
    font-size: 13px;
 }



.icon-artist {
    display: inline-block;
}



.icon-artist i {
    margin: 7px;
}

/*--CENTER CONTENT FOOTER*/

.icon-center {
    text-align: center;
    padding-bottom: 17px
}

.icon-center a {
    color: white;
}


.icon-center i {
    padding: 10px;
}

.d-minute-flex {
    display: flex;
    align-items: center;
}

.min-left {
    padding-right: 7px;
}

.min-right {
    padding-left: 7px;
}

.progress-bar {
    background-color: #bbbcbd;
    height: 6px;
    padding: px;
    width: 470px;
    border-radius: 12px;
    cursor: pointer;
}


.progress-bar .bar-sp {
    display: inline-block;
    height: 6px;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 12px;
    background: rgb(255 255 255);
}


/*--RIGHT CONTENT FOOTER*/

.right-content {
    padding-right: 20px;
}


.progress-bar-right {
    display: inline-block;
    background-color: #bbbcbd;
    height: 6px;
    padding: px;
    width: 130px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.progress-bar-right .bar-right-span {
    display: inline-block;
    height: 6px;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 12px;
    background: rgb(255 255 255);
}


.right-content i {
    margin: 8px;
}






