/*Generals*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}


/*Utilities*/


ul li {
    list-style-type: none;
}


img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
/*----Container----*/


.container {
    max-width: 1100px;
    margin: 0 auto;
}



/*-----   MAIN   -----*/


main {
    background-color: red;
    overflow: auto;
    height: calc(100vh - 90px);
    display: flex;
}



/*---Sidebar---*/


.sidebar-left {
    min-width: 254px;
    min-height: 1200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


.logo-side img {
    height: 70px;
    padding: 11px;
    margin-top: 10px;
}



.sidebar-left a {
    color: white;
    font-size: px;
    vertical-align: middle;
}



.header-list span {
    color: white;
    font-size: 26px;
    vertical-align: middle;
}



.header-list ul li {
    margin-top: 8px;
}


.header-list .task-search {
    padding-right: 3px;
}


.header-list .task-book {
    padding-right: 7px;
}

.header-list .txt-10 {
    font-size: 15px;
}


/*---Center Main */

.center-main {

}


.header-cont {
    height: 70px;
    width: 100%;
    background: rgb(85, 248, 52);
    position: fixed;
}


.center-cont {
    width: 100%;
    margin-left: 290px;
    padding-top: 100px;
}



/*-----   FOOTER  -----*/

#footer-app {
    height: 90px;
    background-color: #a99b9b;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;;
}