/*Generals*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}


/*Utilities*/


ul li {
    list-style-type: none;
}


img {
    max-width: 100%;
}


/*Container*/


.container {
    max-width: 1100px;
    margin: 0 auto;
}



/*Header*/