/*Generals*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}


/*Utilities*/


ul li {
    list-style-type: none;
}


img {
    max-width: 100%;
}


/*----Container----*/


.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    height: 90px;
    background-color: aqua;
}



main {
    background-color: red;
    overflow: auto;
    height: calc(100vh - 90px);
}
/*-----   Footer   -----*/

#footer-app {
    height: 90px;
    background-color: #a99b9b;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;;
}