/*Generals*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}


/*Utilities*/


ul li {
    list-style-type: none;
}


img {
    max-width: 100%;
}


a {
    text-decoration: none;
}


/*----Container----*/


.container {
    max-width: 1100px;
    margin: 0 auto;
}



/*-----      -----*/


.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.up-content {
    flex: 1 1 auto;
    background-color: grey;
    overflow: auto;
    display: flex;
}

/*----- Sidebar -----*/

.sidebar {
    background-color: black;
    flex: 0 0 230px;
    padding-bottom: 16px;
}

.calc-sidebar {
    height: calc(100% - 80px);
}
/*-----Sidebar Content -----*/


.sidebar .logo {
    height: 70px;
    padding: 11px;
    margin-top: 10px;
}


.sidebar .small-logo img {
    height: 50px;
    display: none;
}




.sidebar a {
    color: white;
}




.header-list span {
    color: white;
    font-size: 26px;
    vertical-align: middle;
}




.header-list {
    padding-left: 18px;
}




.header-list ul li {
    padding-top: 8px;
}


.header-list .task-search {
    padding-right: 3px;
}



.header-list .task-book {
    padding-right: 7px;
}



.header-list .txt-10 {
    font-size: 15px;
}




.grey-plus-btn {
    background: #c9c9c9;
    height: 35px;
    display: inline-block;
    width: 41px;
    text-align: center;
    margin-right: 7px;
}



.grey-plus-btn i {
    padding-top: 9px;
    color: black;
}






.center-list {
    padding-top: 22px;
    padding-left: 16px;
}




.center-list h3 {
    margin-bottom: 15px;
}




.bottom-list {
    line-height: 40px;
    padding-left: 15px;
    margin-top: 17px;
}





.bottom-2-list {
    padding-left: 11px;
    height: 80px;
}



.bottom-2-list .bott-sp {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 3px;
} 

.bottom-2-list .btn-list {
    color: lightgrey;
}



.bottom-2-list hr {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 90%;
    border: 1px solid grey;
}



.bottom-2-list .bott-sp-down {
    color: white;
    font-size: 21px;
    vertical-align: ;
    background: grey;
    border-radius: 43%;
    display: inline-block;
    width: 15%;
    height: 28px;
    text-align: center;
    margin-right: 6px;
} 






/*-----Main-----*/

main {
    background-color: #41576c;
    flex: 1 1 auto;
    overflow: auto;
}   


/*----- Main ----> HEADER -----*/

header {
    background-color: rgb(64, 71, 64, 0.3);
    height: 100px;
    width: 100%;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    /* width: 17%; */
    /* height: 56px; */
    border-radius: 30px;
    padding: 15px 60px;
    color: white;
    /* flex-basis: 24%; */
    line-height: 20px;
    margin: 5px
}



/*----- Main ----> CENTER MAIN -----*/

.navbar-main {
    text-align: center;
}


.navbar-main ul li {
    display: inline-block;
    padding: 0 18px;
}

.navbar-main a {
    color: white;
}

/*----- Main ----> SECTION CONTENT MUSIC -----*/

.main-content h1 {
    color: white;
}

.main-content {

}



.gallery img {
    height: 220px;
}


.gallery {
    display: flex;
    max-width: 100%;
    text-align: center;
}



.main-content .gallery li {
    flex-basis: calc(100% / 6);
}


.gallery h4 {
    color: white;
    font-size: 22px;
    margin-bottom: 8px;
}

.gallery .subtitle {
    color: white;
}


/*-----   FOOTER  -----*/

footer {
    flex: 0 0 100px;
    background-color: grey;
}